version: '3'
services:
  web:
    build: .
    ports:
      - "5000:5000"
    links:
      - db
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: 'TodoAppTest'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
